@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgb(37, 36, 36);
}

/* header */

header {
  /* background-color: #333; */
  color: #fff;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.links ul {
  display: flex;
  list-style: none;
  color: greenyellow;
  gap: 15px;
  padding-right: 20px;
}

.links ul li {
  margin-right: 15px;
}

.links ul li a {
  color: greenyellow;
  text-decoration: none;
}

.links ul li:hover {
  font-weight: 600;
  border-bottom: 2px solid greenyellow;
}
#home {
  font-weight: 600;
}

.nav-toggle {
  display: flex;
  align-items: center;
}

.nav-toggle button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  display: none;
  margin-left: auto; /* Push the button to the right */
}

.nav-toggle button:hover {
  transform: scale(1.1); /* Scale up on hover */
}

@media screen and (max-width: 768px) {
  .nav-toggle button {
    display: flex;
    position: fixed;
    right: 2%;
  }

  .links ul {
    display: none;
    flex-direction: column;
    /* padding: 10px; */
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
  }

  .links ul li:hover {
    font-weight: 500;
    border-bottom: none;
  }

  .links ul.active {
    display: flex;
  }

  .links ul li a {
    background-color: transparent;
    font-weight: 500;
    width: 100%;
  }

  .links ul li {
    /* margin: 5px 0; */
    padding: 5px;
  }

  .links ul li:hover {
    background-color: rgb(77, 75, 75);
  }
  #home {
    font-weight: 600;
    background-color: rgb(77, 75, 75);
  }
}

/* footer */

footer {
  padding: 10px 0;
  max-width: 100%;
  height: fit-content;
  color: white;
  background-color: rgb(0, 0, 0);
  top: 100%;
}

footer a {
  color: white;
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5% 0 0 0;
}

.footer li {
  list-style: none;
}

.social-media-link img {
  width: 20px;
  height: auto;
}

.footer-heading {
  color: greenyellow;
  font-weight: normal;
  font-size: 30px;
}

.foot-link a {
  text-decoration: none;
  color: white;
}

.foot-link a:hover {
  border-bottom: 2px solid white;
}

.footer-col {
  /* max-width: 20%; */
  margin: 0 auto;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 15px;
}

.social-icons li a {
  text-decoration: none;
  border: none;
}

.social-icons li a:hover {
  text-decoration: none;
  border: none;
}

.footer-col-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  align-content: center;
  gap: 15px;
}

.footer-forth-col {
  margin-top: 40px;
}

.footer-col a:hover {
  border-bottom: 2px solid white;
}

.footer-col h3 {
  margin-bottom: 10px;
}

.horizontal hr {
  background-color: greenyellow;
  color: greenyellow;
  height: 1px;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: greenyellow;
}
.footer-bottom a {
  color: greenyellow;
}

.footer-bottom a:hover {
  border-bottom: 2px solid greenyellow;
}

.footer-bottom img {
  margin: 10px 0;
  align-items: center;
}

/* responsive footer */
@media screen and (max-width: 1350px) {
  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
  }
  .footer-col {
    width: 45%;
  }
  .footer-bottom {
    font-size: 10px;
  }
  .footer-bottom img {
    width: 60px;
  }
}

@media screen and (max-width: 750px) {
  .footer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 30px;
    text-align: center;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .footer-col {
    width: 90%;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

/* image slide show  */

.mySlides {
  display: none;
}
.mySlides img {
  vertical-align: middle;
  height: 300px;
  width: 100%;
  object-fit: cover;
  opacity: 0.4;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  border: 3px solid greenyellow;
  margin-top: 48px;
}

/* Caption text */

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.text p {
  color: #f2f2f2;
  background-color: transparent;
  font-size: 20px;
  /* padding: 5px 20px; */
  text-shadow: 1px 2px 6px black;
  font-weight: 600;
  position: absolute;
  bottom: 20px;
  margin: auto;
  /* width: 80%; */
}

/* The dots/bullets/indicators */
.dot {
  display: none;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  /* display: inline-block; */
  transition: background-color 0.6s ease;
}

/* .active {
  background-color: #717171;
} */

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .text p {
    font-size: 18px;
  }
}

/* @media only screen and (max-width: 400px) {
  .text p {
    font-size: 12px;
    font-weight: 400;
  }
} */

@media only screen and (max-width: 500px) {
  .mySlides img {
    height: 200px;
  }
  .text p {
    font-size: 12px;
    font-weight: 400;
  }
}

/* ========================================== */

/* services styles */

.services {
  margin-bottom: 50px;
  padding: 1rem;
  background-color: rgb(46, 42, 42);
}

.services-heading {
  background-color: rgb(46, 42, 42);
  color: greenyellow;
  text-shadow: 0 2px 3px #000;
  text-align: center;
  letter-spacing: 10px;
  font-size: 40px;
  font-weight: 300;
}

.service-links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
  /* object-position: 1px; */
  padding: 15px 0;
}

.service-links ul li {
  list-style: none;
}

.service-links .servic-link p {
  color: greenyellow;
  cursor: pointer;
  text-decoration: none;
  position: static;
  padding-bottom: 4px;
}

.service-links .servic-link p:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: greenyellow;
  position: relative;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
}

.service-links .servic-link p:hover:after {
  width: 100%;
}

.service-links li a button {
  font-size: 15px;
  padding: 8px 10px;
  font-weight: 500;
  background-color: transparent;
  border: 2px solid greenyellow;
  color: greenyellow;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

.service-links li a button:hover {
  background-color: greenyellow;
  color: black;
}

.image img {
  height: 500px;
  width: auto;
}

.content-left {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 5%;
  width: 50%;
  height: 500px;
  margin-left: 10px;
}
.content {
  font-size: 18px;
  font-weight: 300;
  color: white;
  letter-spacing: 3px;
  text-shadow: 0px 0px 2px white;
  line-height: 30px;
}

.know-more-btn button {
  background-color: greenyellow;
  color: black;
  font-weight: bold;
  font-size: 15px;
  padding: 7px 10px;
  border: 2px solid greenyellow;
  border-radius: 35px;
  cursor: pointer;
}

.know-more-btn button:hover {
  background-color: transparent;
  color: greenyellow;
  border: 2px solid greenyellow;
}

/* all services details */
#services-1 {
  display: inline-block;
}

#services-2 {
  display: none;
}

#services-3 {
  display: none;
}

#services-4 {
  display: none;
}

#services-5 {
  display: none;
}

/* serivce -1 */

.service {
  padding-bottom: 10%;
  padding: 0 6%;
  margin: 0% 0 0 0;
}

.service-links {
  position: sticky;
  top: 40px;
}

.service-content {
  padding-top: 4%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center;
  align-content: center; */
  gap: 10%;
}

.image img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.content-head {
  font-size: 60px;
  font-weight: 900;
  color: greenyellow;
  text-align: center;
  /* text-decoration: underline; */
  font-family: "Cabin Sketch", sans-serif;
  padding-top: 20px;
}

/* responsive services */
@media only screen and (max-width: 1150px) {
  .content {
    font-size: 13px;
    font-weight: 300;
    color: white;
    letter-spacing: 2px;
    text-shadow: 0px 0px 2px white;
    line-height: 20px;
  }
  .know-more-btn button {
    font-size: 10px;
  }
  .servic-link p {
    font-size: 10px;
  }

  .service-links li a button {
    font-size: 10px;
    padding: 4px 5px;
  }

  .image img {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }

  .content-head {
    font-size: 40px;
  }
  .services {
    margin-bottom: 10px;
  }

  .content-left {
    height: 350px;
  }
}

/* for mobile views */
@media only screen and (max-width: 800px) {
  .service-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap-reverse;
  }

  .services-heading {
    letter-spacing: 7px;
    font-size: 30px;
    font-weight: 400;
  }

  .image {
    width: 90%;
    margin: auto;
  }
  .image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .content-left {
    width: 90%;
    height: fit-content;
    margin: auto;
  }
  .content {
    font-size: 18px;
    line-height: 30px;
  }
  .know-more-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .know-more-btn button {
    font-size: 13px;
  }
  .service {
    height: fit-content;
  }
}

/* for mobile views */
@media only screen and (max-width: 700px) {
  .service-links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 5px;
    align-items: center;
    gap: 2px;
  }

  .service-links li a button {
    font-size: 8px;
    padding: 2px 6px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .service {
    height: fit-content;
    padding: 50px 0;
  }

  .services-heading {
    letter-spacing: 4px;
    font-size: 20px;
    font-weight: 400;
  }

  .content-head {
    font-size: 20px;
  }

  .know-more-btn {
    margin-top: 10px;
  }

  .service-links ul {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
  }

  .know-more-btn button {
    font-size: 10px;
  }
}

/* =----------------------= */

/* our - experience */
.experience {
  background: url("https://images.unsplash.com/photo-1446776653964-20c1d3a81b06?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHx8");
  display: flex;
  flex-direction: column;
  margin: 3% 0px;
  background-color: rgb(37, 36, 36);
}
.experience h2 {
  font-size: 50px;
  font-weight: 300;
  font-weight: 400;
  color: white;
  text-align: center;
  margin-bottom: 40px;
  background-color: transparent;
}

.all-exp-details {
  /* position: relative; */
  background-color: transparent;
  margin: 1rem;
  padding: 25px 0;
  color: greenyellow;
}

.experience h1 {
  text-shadow: 0 0 4px black;
  font-size: 55px;
  font-weight: 600;
  text-align: center;
  color: white;
}

.experience .col {
  width: 30%;
}

.experience p {
  color: white;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  text-shadow: 0 0 5px black;
}

.experience-all hr {
  font-weight: 900;
  color: white;
  width: 3px;
  border: none;
  background-color: white;
}

.experience .col,
.experience h1,
.experience p {
  background-color: transparent;
}
.experience-all {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: greenyellow;
  background-color: transparent;
  /* padding-bottom: 20px; */
}

@media only screen and (max-width: 960px) {
  .col h1 {
    font-size: 40px;
  }
  .col p {
    font-size: 20px;
  }

  .experience .col {
    width: 80%;
  }
}

@media only screen and (max-width: 650px) {
  .col h1 {
    font-size: 30px;
  }

  .all-exp-details h2 {
    font-size: 30px;
  }

  .col p {
    font-size: 20px;
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .experience-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .experience-all hr {
    width: 70%;
    margin: auto;
    height: 2px;
  }

  .experience h2 {
    margin-bottom: 10px;
    font-weight: 500;
  }
}

/* brands partners */

.brand-partners h2 {
  font-size: 45px;
  color: greenyellow;
  text-shadow: 0 0 5px black;
  font-weight: 500;
  text-align: center;
  margin: 30px 0;
}

.brand-partners-head {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin: 30px 0;
}

.brand-partners-head img {
  height: 100px;
  width: 100px;
}

@media only screen and (max-width: 650px) {
  .brand-partners h2 {
    font-size: 30px;
  }

  .brand-partners-head img {
    height: 80px;
    width: 80px;
  }

  .brand-partners-head {
    gap: 30px;
  }
}
